<!DOCTYPE html> <!-- Используется html 5 версии -->
{% extends 'base.html' %}
{% block title %}
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>
    {% for post in posts %}
    {% if post.group %}
    <title>Записи сообщества {{ post.group.slug }}</title>
    {% endif %}
    {% endfor %}
  </head>
{% endblock %}
{% block content %}
<main>
  <div class="container"> <h1>Записи сообщества</h1>  </div>
  {% for post in posts %}
    <div class="container">
      <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text }}</p>
      {% if not forloop.last %}<hr>{% endif %}
      </article>
      <!-- под последним постом нет линии -->
    </div>
</main>
{% endfor %}
{% endblock %}